<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="header flex">
                <div class="logo"><h1><span class="caps">lam </span>Conference</h1></div>

                <ul id="ul" class="flex">
                    <li><a asp-controller="Event" asp-action="Home">Home</a></li>
                    <li><a asp-controller="Event" asp-action="About">About</a></li>
                    <li><a asp-controller="Event" asp-action="OurSpeakers">Our Speakers</a></li>
                    <li><a asp-controller="Event" asp-action="WhatToExpect">What To Expect</a></li>
                </ul>

                <div id="hamburger">
                    <div id="fcross" class="cross fcross"></div>
                    <div id="scross" class="cross scross"></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="bg" id="bg"></div>

    
        <div class="mainContainer centerTxt">
            <div class="msg infoMsg">
                <h1>Oops! Page Not Found</h1>
                <h5>Requested resource was not found try contacting the admin for assitance.</h5>
            </div>

            <div class="illustration">
                
                <div class="notFoundImg globe"><img src="~/images/Saly-44.png" alt="Illustration"></div>
            </div>

            <a asp-controller="Event" asp-action="Home"><button class="btn nfBtn blackBtn">Back Home</button></a>
        </div>

    <script src="~/js/main.js"></script>
</body>
</html>
