@using LamConference.ViewModel
@model LamConference.ViewModel.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="header flex">
                <div class="logo"><h1><span class="caps">lam </span>Conference</h1></div>

                <ul id="ul" class="flex">
                    <li><a asp-action="">About</a></li>
                    <li><a asp-action="">Our Sponsors</a></li>
                    <li><a asp-action="">What To Expect</a></li>
                    <li class="aside"><a asp-action=""><button class="btn redBtn">Register</button></a></li>
                </ul>

                <div id="hamburger">
                    <div id="fcross" class="cross fcross"></div>
                    <div id="scross" class="cross scross"></div>
                </div>
            </div>
        </nav>
    </header>
    <div id="bg" class="bg"></div>

    <div class="mainContainer lg">
        <div class="lgContainer flex">

            <div class="lgIllustration">
                <img src="~/images/view-3d-confident-businessman.png" alt="" srcset="">
            </div>

            <div class="lgContent">
                <form class="flex" asp-action="Login">
                    <h2 class="caps">Sign In</h2>
                    <div class="column flex">
                        <input asp-for="Username" placeholder="Username">
                        <span asp-validation-for="Username" class="error"></span>
                    </div>

                    <div class="column flex">
                        <input asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="error"></span>
                    </div>
                    
                    <button class="btn blackBtn">Submit</button>
                </form>
            </div>

        </div>
    </div>
    <script src="~/js/main.js"></script>
</body>
</html>


