@model LamConference.ViewModel.GenerateIDViewModel

<form asp-action="GenerateID" method="post">
    <div class="column">
        <input asp-for="Value">
        <span asp-validation-for="Value" class="error"></span>
    </div>
    <button>Generate</button>
</form>