@using LamConference.Models
@model LamConference.ViewModel.RegistrationViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <header>
        <nav>
            <div class="header flex">
                <div class="logo"><h1><span class="caps">lam </span>Conference</h1></div>

                <ul id="ul" class="flex">
                    <li><a asp-controller="Event" asp-action="Home">Home</a></li>
                    <li><a asp-controller="Event" asp-action="About">About</a></li>
                    <li><a asp-controller="Event" asp-action="OurSpeakers">Our Speakers</a></li>
                    <li><a asp-controller="Event" asp-action="WhatToExpect">What To Expect</a></li>
                </ul>

                <div id="hamburger">
                    <div id="fcross" class="cross fcross"></div>
                    <div id="scross" class="cross scross"></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="bg" id="bg"></div>

        <div id="special" class="mainContainer">
            <div class="flex containerContent">
                <div class="formSection">
                    <div class="textContainer">
                        <h2>Hello</h2>
                        <h4>Kindly fill the form to reserve your spot.</h4>
                        <h5>Do note that your Reference ID is valid until this form is submitted</h5>
                    </div>

                    <div class="form">
                        <h5><span class="blueTxt">Reference ID</span>: @Model.RefID</h5>
                        <div class="formContent grid">
                            <form asp-action="Registration">

                                <div class="nameFields flex fields">
                                    <div class="column flex">
                                        <input asp-for="FirstName" placeholder="First Name">
                                        <span asp-validation-for="FirstName" class="error"></span>
                                    </div>
                                    <div class="column flex">
                                        <input asp-for="LastName" placeholder="Last Name">
                                        <span asp-validation-for="LastName" class="error"></span>
                                    </div>
                                </div>

                                <div class="contactFields flex fields">
                                    <div class="column flex">
                                        <input asp-for="Telephone" placeholder="Phonenumber">
                                        <span asp-validation-for="Telephone" class="error"></span>
                                    </div>
                                    <div class="column flex">
                                        <input asp-for="Email" type="email" placeholder="Email">
                                        <span asp-validation-for="Email" class="error"></span>
                                    </div>
                                    
                                    
                                </div>

                                <div class="acadDetailsFields flex fields">
                                    <div class="column flex">
                                        <select asp-for="Level" asp-items="Html.GetEnumSelectList<Level>()">
                                            <option value="">Level</option>
                                        </select>
                                        <span asp-validation-for="Level" class="error"></span>
                                    </div>
                                    
                                    <div class="column flex">
                                        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()">
                                            <option value="">Department</option>
                                        </select>
                                        <span asp-validation-for="Department" class="error"></span>
                                    </div>
                                    
                                    
                                </div>
                                

                                <input type="hidden" asp-for="RefID">
                                <button class="btn blackBtn">Submit</button>
                            </form>   
                        </div>
                    </div>
                </div>

                <div class="illustrationSection registerPg">
                    <a href="https://www.freepik.com/free-photo/fun-3d-cartoon-teenage-boy_14200926.htm#query=3d%20character&position=47&from_view=keyword&track=ais">
                        <div class="illustration"><img src="~/images/fun-3d-cartoon-teenage-boy.png" alt="Illustration from FreePik"></div>
                    </a>
                    
                </div>
            </div>
        </div>
    <script src="~/js/main.js"></script>
</body>
</html>
