<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LamConference</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <header>
        <nav>
            <div class="header flex">
                <div class="logo"><h1><span class="caps">lam </span>Conference</h1></div>

                <ul class="flex">
                    <li><a asp-action="">About</a></li>
                    <li><a asp-action="">Our Sponsors</a></li>
                    <li><a asp-action="">What To Expect</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <body>
        <div class="mainContainer centerTxt">
            <div class="successMsg">
                <h2>Registration was successful</h2>
                <h5>A mail has been sent to you. Kindly refer to it for more details about the conference</h5>
            </div>

            <div class="illustration">
                
                <div class="illustratedImg"><img src="~/Images/3dImage-removebg-preview.png" alt="Illustration"></div>
            </div>
        </div>
    </body>
</body>
</html>
